.header {
    padding: 10px;
    text-align: left;
    background: #02060e;
    background-image: url("../playlist-player-frontend/vinyl-records.jpg");
    color: white;
    font-size: 15px;
    font-family: "Permanent Marker";
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  div.playlist-container {
    background-color: #eeeeee;
    height: 250px;
    width: 300px;
    box-shadow: 10px 10px grey;
    padding: 10px;
    border-radius: 10px;
  }

.delete-btn {
    display: inline-block;
    width: 15px;
    height: 14px;
    text-align: center;
    background-color: #e71616;
    border-radius: 2px;
    font-size: 7px;
    line-height: 10px;
    cursor: pointer;
}