.header {
    padding: 10px;
    text-align: left;
    background: #02060e;
    background-image: url("../playlist-player-frontend/vinyl-records.jpg");
    color: white;
    font-size: 15px;
    font-family: "Permanent Marker";
}

.delete-btn {
    display: inline-block;
    width: 15px;
    height: 14px;
    text-align: center;
    background-color: #e71616;
    border-radius: 2px;
    font-size: 7px;
    line-height: 10px;
    cursor: pointer;
}